* {
    padding: 0;
    margin: 0;
}

@media (max-width: 1276px) {
    #home p {
        width: 500px;
    }

    .Search {
        top: 436px;
    }
}

@media (min-width:977px) and (max-width: 1000px) {
    #home p {
        width: 390px;
        margin-left: 10px;
    }

    .Search {
        top: 462px;
    }
}

@media(max-width:976px) {
    .home-img {
        display: none;

    }

    #home {
        display: grid;
        grid-template-rows: 33% 8% 47%;
        text-align: center;
    }

    #home p {
        margin-left: 100px;
        width: 525px;
    }
    #Contact-us {
        display: grid;
        grid-template-columns: 40% 70%;
        justify-content: center;
        margin-left: 143px;
}

@media(max-width:800px) {

    #navbar ul {
        top: 102px;
        right: 50px;
    }

    #navabr::before {
        width: 135%;
    }

    .sign-up {
        right: 24px;
        top: 25px;
        padding: 0.5px 6px;
    }

    #box-primary {
        grid-template-columns: 70% 30%;
        margin-left: -70px;
        margin-top: 20px;
    }

    #box-secondary {
        grid-template-columns: 70% 30%;
        margin-left: -70px;
        margin-top: 20px;
    }

    #box-third {
        grid-template-columns: 70% 30%;
        margin-left: -70px;
        margin-top: 20px;
    }

    #box-fourth {
        grid-template-columns: 70% 30%;
        margin-left: -70px;
        margin-top: 20px;
    }

    #box-fifth {
        grid-template-columns: 70% 30%;
        margin-left: -70px;
        margin-top: 20px;
    }

    .box {
        width: 260px;
    }

    #About-us img {
        display: none;
    }

    .Closing-Words {
        margin-top: 4%;
        margin-left: 13%;
        font-size: 14.5px;
    }

   

    }


}

@media (max-width:500px) {
    .logo img {
        margin-left: 10px;
        height: 102px;
        width: 102px;

    }

    .primary-heading {
        font-size: 16px;
    }

    #home {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .secondary-heading {
        font-size: 26px;
        margin: 40px 13px;
    }

    .tag-line {
        font-size: 19px;
        margin-top: -29px;
    }

    #home p {
        width: 330px;
        margin-left: -23px;
    }

    .search-bar {
        position: relative;
        right: 142px;
    }

    .search-bar input {
        margin-left: 110px;
        margin-top: 16px;
        width: 98%;
    }

    .Search {
        top: 485px;
        left: 170px;
        padding: 2.5px 12px;
        font-size: 12px;
    }

    .third-heading {
        font-size: 19px
    }

    .Menu-list ul {
        margin-top: 80px;
        margin-left: -40px;
    }

    .Menu-list ul li {
        font-size: 14px;
    }

    .Main-Courses {
        margin-top: 28px;
        font-size: 30px;
    }

    #box-primary {
        grid-template-columns: 50%;
        margin-left: -70px;
        margin-top: 20px;
    }

    #box-secondary {
        grid-template-columns: 50%;
        margin-left: -70px;
        margin-top: 20px;
    }

    #box-third {
        grid-template-columns: 50%;
        margin-left: -70px;
        margin-top: 20px;
    }

    #box-fourth {
        grid-template-columns: 50%;
        margin-left: -70px;
        margin-top: 20px;
    }

    #box-fifth {
        grid-template-columns: 50%;
        margin-left: -70px;
        margin-top: 20px;

    }

    .Closing-Words {
        margin-top: 4%;
        margin-left: 13%;
        font-size: 14.5px;
        width: 300px;
    }

    #Contact-us {
        display: grid;
        grid-template-columns: 30% 85%;
        grid-column-gap: 25px;
        margin-left: 4px;
    }

    .Tiger {
        margin: 16px -60px;
        font-size: 16px;
        width: 208px;
    }
    #Contact-us ul{
        font-size: 10px;
        width: 102px;
        margin: 0px 84px;
    }
}